.post {
    background-color: $secondaryBgColor;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/post/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        color: $secondaryTextColor;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 900;
        line-height: 162%;
        letter-spacing: 1.56px;
        text-align: center;
        margin: 0 auto;
        max-width: 360px;
    }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .post {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/post/background@2x.png);
  }
}

@media screen and (min-width: 768px) {
    .post {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/post/background.webp);
    }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .post {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/post/background@2x.png);
  }
}

.post__btn {
    @include button();
    padding: 10px 24px;
    margin: 0 auto;
    margin-top: 30px;
    &:hover {
        background-color: $buttonHoverColor;
    }
}

@media screen and (min-width: 1200px){
    .post {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .post__title {
        font-size: 44px;
        line-height: 60px;
        letter-spacing: 2.64px;
        margin: 0 auto;
        width: 690px;
    }
    .post__btn {
        padding: 10px 32px;
    }
}


