.team {
    background-color: $teamBgColor;
    padding-top: 60px;
    padding-bottom: 30px;
    &__title {
        @include section_title;
    }
    &__img {
        width: 450px;
    }
    &__name {
        color: $titleTextColor;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.48px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    &__position {
        color: $primaryTextColor;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.48px;
        text-align: center;
    }
    &__social-net {
        width: 206px;
        text-align: center;
    }
    &__social-net-list {
        display: flex;
        align-items: center;
        margin-left: 122px;
        margin-top: 16px;
    }
    &__item:not(:last-child) {
        margin-right: 10px;
    }
    &__icon {
        fill: $iconColor;
    }
}

.team__card {
    width: 450px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    background-color: $primaryBgColor;
    margin-bottom: 30px;
}

.team__sn-border {
    width: 44px;
    height: 44px;
    @extend %flex;
    background-color: $primaryBgColor;
    border-radius: 50%;
    &:hover {
        animation: cgBorder_team 250ms $timeFunction;
        animation-fill-mode: forwards;
        animation-direction: alternate;
    }
}

@keyframes cgBorder_team {
    0% {
        background-color: $primaryBgColor;
    }

    100% {
        background-color: $buttonBgColor;
    }
}

.team__sn-border:hover {
    .team__icon {
        animation: cgTeam 250ms $timeFunction;
        animation-fill-mode: forwards;
    }
}

 @keyframes cgTeam {
     0% {
        fill: $iconColor;
     }

     100% {
        fill: $secondaryTextColor;
     }
 }


 @media screen and (min-width: 768px) {
    .team__list {
        display: flex;
        flex-wrap: wrap;
    }
    .team__card {
        width: 354px;
        &:nth-child(odd) {
            margin-right: 30px;
        }
        &:nth-child(-n + 2) {
            margin-bottom: 30px;
        }
    }
    .team__img {
        width: 354px;
    }
    .team__social-net-list {
        margin-left: 74px;
    }
}

@media screen and (min-width: 1200px) {
    .team {
        padding-top: 94px;
        padding-bottom: 64px;
    }
    .team__list {
        display: flex;
    }
    .team__card {
        width: 270px;
        &:nth-child(2) {
            margin-right: 30px;
        }
    }
    .team__img {
        width: 270px;
    }
    .team__title {
        @include section_desktop-title();
    }
    .team__social-net {
        width: 206px;
    }
    .team__social-net-list {
        margin-left: 32px;
    }
    .team__item:not(:last-child) {
        margin-right: 10px;
    }
}