*,
::after,
::before {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    color: $titleTextColor;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    color: $primaryTextColor;
    background-color: $primaryBgColor;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

use {
    cursor: pointer;
}