$titleTextColor: #212121;
$secondaryTextColor: #ffffff;
$primaryTextColor: #757575;
$buttonBgColor: #2196F3;
$buttonOffBgColor: #F5F4FA;
$buttonHoverColor: #37A0F4;
$primaryBgColor: #ffffff;
$teamBgColor: #F5F4FA;
$secondaryBgColor: #2F303A;
$logoColor: #000000;
$iconColor: #AFB1B8;
$iconSnColor: rgba(255, 255, 255, 0.10);
$modalInputColor: rgba(33, 33, 33, 0.20);
$timeFunction: cubic-bezier(0.4, 0, 0.2, 1);